h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkcyan;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: orangered;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: tomato;
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }

  /* Styling for unordered lists */
  ul {
    list-style-type: square;
    background-color: grey;
    padding: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
  }

/* Styling for weather list items */

.weather-container {
  margin: 20px 0;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.weather-list {
   list-style-type: none;
   background-color: rgb(52, 52, 52);
}

#city-name {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 10px;
    color: rgb(0, 108, 223);
}

#weather-item {
    font-size: 20px;
    margin: 5px 0;
    color: rgb(243, 0, 73);
}

.change-city-container {
  margin: 20px 0;
  background-color: grey;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.change-city-form {
  background-color: rgb(52, 52, 52);
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin: 20px 0;
}
